body{
  margin: 0;
  background-image: url(img/fondoportfolio.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
div{
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 200px;

}
li {
  transition-duration: 0.4s;
  height: 400px;
  width:400px;
  float:left;
  font-size: 10em;
  display:block;
  font-family: permanent marker;
  text-align: center;
  position: relative;
  margin: 30PT;
  border-radius: 100%;
  top: 50px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid #e4ffe5;
  filter: blur(4px);
}

li:hover {
  background-color: #4CAF50;
  color: white;
  filter: blur(0);
}
