body{
  margin: 0;
  background-image: url(img/fondoportfolio_uf.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
div{
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
li {
  transition-duration: 0.4s;
  height: 200px;
  width:200px;
  float:left;
  font-size: 5em;
  display:block;
  font-family: permanent marker, cursive;
  text-align: center;
  position: relative;
  margin: 30PT;
  border-radius: 100%;
  top: 25px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid #e4ffe5;
  filter: blur(4px);
}

li:hover {
  background-color: #9805f2;
  color: white;
  filter: blur(0);
}
