@media screen and (min-width:951px) and (orientation:landscape) {
  #poster{
    bottom:  -10px;
    border: 3px solid white;
    box-shadow:10px 10px #A2C037;
  }
  .poster{
    float: left;
    width: 1000px;
    height: 1000px;
    margin-top: 200px;
    margin-left: 5%;


  }
  .verde {
    width: 140px;
    height: 140px;
    margin: 10px;
    background-color: #A2C037;
    float: left;

  }
  #content {

      position: relative;
      bottom: 60px;
      top:80px;
      left: 0;
      right: 0;
      z-index:500;

      float: left;
      width: 400px;
      height: auto;
      margin-top: 10%;


  }

}
@media screen and (min-width:951px) and (min-width:650px) {
  #poster{
    bottom:  -10px;
    border: 3px solid white;
    box-shadow:10px 10px #A2C037;
  }
  .poster{
    float: left;
    width: 1000px;
    height: 1000px;
    margin-top: 200px;
    margin-left: 5%;


  }
  .verde {
    width: 140px;
    height: 140px;
    margin: 10px;
    background-color: #A2C037;
    float: left;

  }
  #content {

      position: relative;
      bottom: 60px;
      top:80px;
      left: 0;
      right: 0;
      z-index:500;

      float: left;
      width: 400px;
      height: auto;
      margin-top: 10%;


  }

}
@media screen and (max-width:649px) {
  .poster {
    display: none;
  }
  .verde {
    width: 140px;
    height: 140px;
    margin: 10px;
    background-color: #A2C037;

  }
  #content {

      position: relative;
      margin: 0 auto;
      margin-top:7rem;
      z-index:500;
      width: 160px;
      height: 100%;



  }

}
body {

    font-family:'Quicksand', Helvetica, Arial, sans-serif;
    font-size:medium;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color: white;
    text-align: center;
}



h1 {
    font-size:24px;
    font-weight:normal;
    color: #A2C037;
    background-color: white;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#head {
    height: 80px;
    position: relative;
    top: 15px;
    left: 0;
    right: 0;
    z-index:2000;

    background-size: auto 80%;
    background-repeat: no-repeat;
}
.todo{

  height: 100%;



}

.short {

    height:140px;
    width: 140px;
    align-items: center;


}
#uno {
  background-image: url(../img/video.png);
  background-position: center;
  background-size: 80px auto;
  background-repeat: no-repeat;
}
#dos {
  background-image: url(../img/file.png);
  background-position: center;
  background-size: 80px auto;
  background-repeat: no-repeat;
}
#tres {
  background-image: url(../img/memoria.png);
  background-position: center;
  background-size: 80px auto;
  background-repeat: no-repeat;
}
#cuatro {
  background-image: url(../img/website.png);
  background-position: center;
  background-size: 80px auto;
  background-repeat: no-repeat;
}
#cinco {
  background-image: url(../img/apk.png);
  background-position: center;
  background-size: 80px auto;
  background-repeat: no-repeat;
}
#seis {
  background-image: url(../img/ellipsis.png);
  background-position: center;
  background-size: 80px auto;
  background-repeat: no-repeat;
}
.txt {
  width: 140px;
  height: 140px;
  background-color: rgba(63, 94, 23, 0.8);
  font-size: 1.2em;
  color: white;
  text-align: center;
  line-height: 140px;
  font-family:'Quicksand', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#reducir {
  font-size: 0.95em;
}

.long {

    height:50px;
    width:auto;
    margin: 30px auto 5px auto;
}

#foot {
    height: 60px;
    background-image: url(img/mSchools.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    z-index:1000;

}
.txt:hover{
  display: none;
}
a{
  text-decoration: none;
}
.short:hover{

}
